<div class="container">
    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">{{exDispCtrl.exhib.name}} <small>by {{exDispCtrl.exhib.user.login}}</small></h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="index.html">Home</a>
        </li>
        <li class="breadcrumb-item active">Exhibition</li>
    </ol>
    <!-- Portfolio Item Row -->

    <div class="card mb-4" ng-show="!exModCtrl.empty">
        <div class="card-block">
            <div class="row">
                <div class="col-lg-4 mb-4">
                    <h3 class="text-left"><a ng-show="!exDispCtrl.prevDeactive" href="#/exhib/{{exDispCtrl.exhib.id}}/{{exDispCtrl.prevModel}}">PREVIOUS</a></h3>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="text-center">
                        <h4>{{exDispCtrl.exhib.name}}:</h4> <h5>{{exDispCtrl.exhib.model.modelName}}</h5>

                    </div>
                    <hr>
                </div>
                <div class="col-lg-4 mb-4">
                    <h3 class="text-right"><a ng-show="!exDispCtrl.nextDeactive" href="#/exhib/{{exDispCtrl.exhib.id}}/{{exDispCtrl.nextModel}}">NEXT</a></h3>
                </div>
            </div>
            <div class="row">
                <div style="margin: 0 auto;">
                    <p class="text-center">{{exDispCtrl.exhib.description}}</p>
                    <hr>
                </div>
            </div>

            <div class="row">

                <div class="col-md-8" ng-if="display === 3" ng-init="exDispCtrl.setMaterialObj()">
                    <div style="border:3px solid orangered;" id="webglContainer" viewer width="canvasWidth" height="canvasHeight" fillcontainer="dofillcontainer" material-obj="materialObj">
                    </div>
                </div>

                <div class="col-md-4">
                    <h3 class="my-3">Model Description</h3>
                    <p>{{exDispCtrl.model.modelDescription}}</p>
                    <!--h3 class="my-3">Others from this exhibition</h3>
                    <ul ng-repeat="model in exDispCtrl.models">
                        <li><a href="#/model/{{model.id}}">{{model.modelName}}</a></li>
                    </ul-->
                </div>
            </div>
        </div>
    </div>

</div>
