<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">{{gCtrl.group.groupName}}
        <small></small>
    </h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a ui-sref="home">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a ui-sref="groups">Groups</a>
        </li>
        <li class="breadcrumb-item active">{{gCtrl.group.groupName}}</li>
    </ol>

    <div class="card">

        <div class="card-block">
            <h2 class="card-title">About group</h2>
            <p class="card-text">{{gCtrl.group.groupDescription}}</p>
        </div>
        <div class="card-footer text-muted">

        </div>
    </div>

    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">

            <!-- Blog Post -->
            <div class="card mb-4">
                <div class="card-footer">
                    <h2 class="card-title">Messages</h2>
                </div>
            </div>
            <div class="card mb-4" ng-show="gCtrl.checkPermissionToSendMessage()">
                <form class="card-block" name="form" role="form" novalidate show-validation>
                    <textarea required class="form-control" placeholder="Write your message..."
                              data-ng-model="gCtrl.content" ng-minlength="3" ng-maxlength="500"></textarea>
                    <div ng-show="form.name.$dirty && form.name.$invalid">
                        <p class="help-block"
                           ng-show="form.name.$error.required">
                            Message content is required.
                        </p>
                        <p class="help-block"
                           ng-show="form.name.$error.minlength">
                            Message content is required to be at least 3 character.
                        </p>
                        <p class="help-block"
                           ng-show="form.name.$error.maxlength">
                            Message content cannot be longer than 500 characters.
                        </p>

                    </div>

                </form>
                <div class="card-footer text-muted">
                    <button class="btn btn-primary btn-sm" ng-click="gCtrl.sendMessage()"
                            ng-show="gCtrl.checkPermissionToSendMessage()" style="float: right;">Send
                    </button>
                </div>
            </div>

            <div class="card mb-4" ng-repeat="message in gCtrl.messages">
                <div class="card-footer text-muted">
                    <div class="row">
                        <div class="col-11">
                            <span style="color:#cd4100;">{{message.user.login}}</span> on
                            {{message.postDate.substring(0,19).replace('T', ' ')}}

                        </div>
                        <div class="col-1">
                            <button type="button" class="dropdown-toggle btn btn-primary btn-sm" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false" ng-show="gCtrl.checkPermissionToEditOrDelete(message)">
                            </button>
                            <div class="dropdown-menu">
                                <button class="btn btn-sm dropdown-item" ng-click="gCtrl.setCurrentMessage(message)"
                                        data-toggle="modal" data-target="#editMessgModal" style="float: right;">Edit
                                </button>
                                <div class="dropdown-divider"></div>
                                <button class="btn btn-sm mx-md-1 dropdown-item"
                                        ng-click="gCtrl.setCurrentMessage(message)" data-toggle="modal"
                                        data-target="#deleteMessageModal" style="float: right;">Delete
                                </button>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-block">
                    <p class="card-text">{{message.messageContent}}</p>
                </div>
            </div>



        <!-- Pagination -->
        <jhi-item-count page="gCtrl.page" total="gCtrl.queryCount" items-per-page="gCtrl.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="gCtrl.totalItems" ng-model="gCtrl.page"
                        ng-change="gCtrl.transition()"></uib-pagination>


    </div>

    <!-- Sidebar Widgets Column -->
    <div class="col-md-4">
        <div class="card my-4">
            <h5 class="card-header">{{gCtrl.getStatusMessage()}}</h5>
            <div class="card-block">
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="list-unstyled mb-0">
                            <li ng-show="gCtrl.status == 0 && gCtrl.checkIfAlreadyHasGroup() == false">
                                <button type="button" class="btn btn-primary"
                                        data-toggle="modal" data-target="#joinModal">Join group
                                </button>
                            </li>
                            <li ng-show="gCtrl.status == 2">
                                <button type="button" class="btn btn-primary" ng-click="gCtrl.leaveGroup()">Leave
                                    group
                                </button>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul class="list-unstyled mb-0" ng-show="gCtrl.checkIfLoggedIsModerator() || gCtrl.adminPermission()">
                            <li>
                                <button type="button" class="btn btn-primary" ui-sref="manageGroup">Manage group
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <!-- Members Widget -->
        <div class="card my-4">
            <h5 class="card-header">Members</h5>
            <div class="card-block">
                <div class="row">
                    <div class="col-lg-6" ng-repeat="rows in chunkedMembers">
                        <ul class="list-unstyled mb-0" ng-repeat="item in rows">
                            <li>{{item.login}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Models Widget -->
        <!--            <div class="card my-4">
                        <h5 class="card-header">Models</h5>
                        <div class="card-block">
                            <div class="row">
                                <div class="col-lg-6">
                                    <ul class="list-unstyled mb-0">
                                        <li><a href="#">Web Design</a></li>
                                        <li><a href="#">HTML</a></li>
                                        <li><a href="#">Freebies</a></li>
                                    </ul>
                                </div>
                                <div class="col-lg-6">
                                    <ul class="list-unstyled mb-0">
                                        <li><a href="#">JavaScript</a></li>
                                        <li><a href="#">CSS</a></li>
                                        <li><a href="#">Tutorials</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>-->

        <!--&lt;!&ndash; Exhibitions Widget &ndash;&gt;
        <div class="card my-4">
            <h5 class="card-header">Exhibitions</h5>
            <div class="card-block">
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="list-unstyled mb-0">
                            <li><a href="#">Web Design</a></li>
                            <li><a href="#">HTML</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul class="list-unstyled mb-0">
                            <li><a href="#">JavaScript</a></li>
                            <li><a href="#">CSS</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>-->

    </div>

</div>
<!-- /.row -->

</div>
<!-- /.container -->


<!-- join Modal -->
<div class="modal fade" id="joinModal" tabindex="-1" role="dialog" aria-labelledby="joinModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="joinModalLabel">Joining group</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Do you really want to join {{gCtrl.group.groupName}} group?
                Click "Join" button and <strong>wait</strong> until the group Moderator will accept your join request.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="gCtrl.joinGroup()">Join
                </button>
            </div>
        </div>
    </div>
</div>

<!-- leave Modal -->
<div class="modal fade" id="leaveModal" tabindex="-1" role="dialog" aria-labelledby="leaveModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="leaveModalLabel">Joining group</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Do you really want to leave {{gCtrl.group.groupName}} group?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="mgCtrl.leaveGroup()">
                    Leave
                </button>
            </div>
        </div>
    </div>
</div>


<!-- edit Message Modal -->
<div class="modal fade" id="editMessgModal" tabindex="-1" role="dialog" aria-labelledby="editMessgModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editMessgModalLabel">Edit message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="modal-body" name="form" role="form" novalidate show-validation>
                <textarea class="form-control" data-ng-model="gCtrl.content" minlength="3" maxlength="500"></textarea>
                <div ng-show="form.name.$dirty && form.name.$invalid">
                    <p class="help-block"
                       ng-show="form.name.$error.required">
                        Message content is required.
                    </p>
                    <p class="help-block"
                       ng-show="form.name.$error.minlength">
                        Message content is required to be at least 3 character.
                    </p>
                    <p class="help-block"
                       ng-show="form.name.$error.maxlength">
                        Message content cannot be longer than 500 characters.
                    </p>

                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="gCtrl.editMessage()">Save
                </button>
            </div>
        </div>
    </div>
</div>

<!-- delete Message Modal -->
<div class="modal fade" id="deleteMessageModal" tabindex="-1" role="dialog" aria-labelledby="deleteMessageModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteMessageModalLabel">Delete message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Do you really want to delete message: "{{gCtrl.currentMessage.messageContent}}" ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="gCtrl.deleteMessage()">
                    Delete
                </button>
            </div>
        </div>
    </div>
</div>
