<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Rank <small></small></h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a ui-sref="home">Home</a>
        </li>
        <li class="breadcrumb-item active">Rank</li>
    </ol>

    <div class="row" >
        <div class="col-lg-4 col-sm-6 portfolio-item" ng-repeat="model in rankCtrl.models">
            <div class="card h-100">
                <a href="#"><img class="card-img-top img-fluid" src="http://placehold.it/700x400" alt=""></a>
                <div class="card-block">
                    <h4 class="card-title"><a href="#/model/{{model.id}}">{{model.modelName}}</a></h4>
                    <p class="card-text">{{model.modelDescription}}</p>
                </div>
            </div>
        </div>

    </div>

    <!-- Pagination -->
<!--    <ul class="pagination justify-content-center">
        <li class="page-item" ng-class="{disabled: currentPage === 1}" ng-click="selectPage(currentPage - 1)">
            <button ng-class="{disabled: currentPage === 1}" class="page-link"  aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </button>
        </li>
        <li class="page-item" ng-class="{disabled: ($index+1) == currentPage}" ng-repeat="page in models | pageCount:numPerPage"><button class="page-link" ng-click="selectPage($index + 1)">{{$index + 1}}</button></li>

        <li class="page-item" ng-class="{disabled: currentPage == lastPage()}"  ng-click="selectPage(currentPage + 1)">
            <button ng-class="{disabled: currentPage == lastPage()}"  class="page-link"  aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </button>
        </li>
    </ul>-->

    <div class="text-center">
        <jhi-item-count page="rankCtrl.page" total="rankCtrl.queryCount" items-per-page="rankCtrl.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="rankCtrl.totalItems" ng-model="rankCtrl.page" ng-change="rankCtrl.transition()"></uib-pagination>
    </div>

</div>
<!-- /.container -->
