<div class="container">

    <h1 class="mt-4 mb-3">User panel</h1>
    <!-- Page Heading/Breadcrumbs -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a ui-sref="home">Home</a>
        </li>
        <li class="breadcrumb-item active">User panel</li>
    </ol>

    <div class="card">

        <div class="card-block">
            <h2 class="card-title">My group</h2>
            <p class="card-text">
                <div ng-show="panelCtrl.account.groupId > 0">
                    <a href="#/group/{{panelCtrl.account.groupId}}">Visit group</a>
                </div>
                <div ng-show="panelCtrl.account.groupId == 0">
                    You don't have any group. <a href="#/createGroup">Create group</a>
                </div>

            </p>
        </div>
        <div class="card-footer text-muted">

        </div>
    </div>

    <!-- Blog Post -->
    <div class="card mb-4">
        <div class="card-block" ng-show="panelCtrl.error">
            <div class="row">
                <div class="col-md-6" style="float: none; margin: 0 auto;">
                    <div class="alert alert-danger">
                        <strong class="text-center">{{panelCtrl.error}}</strong><br>
                        <small>{{panelCtrl.error.response}}</small>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-block" ng-show="panelCtrl.success">
            <div class="row">
                <div class="col-md-6" style="float: none; margin: 0 auto;">
                    <div class="alert alert-success">
                        <strong class="text-center">{{panelCtrl.success}}</strong>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-block" ng-show="!panelCtrl.success && !panelCtrl.error">
            <div class="row">
                <div class="col-md-6">
                    <div class="breadcrumb text-muted" ng-show="vm.deleteResult == true">
                        <strong>Unsuccesful deleted model.</strong>
                    </div>
                    <hr>
                    <h3><a ui-sref="userModels">My models</a> (<a ui-sref="upload">upload</a>)</h3>
                    <hr>
                    <div class="breadcrumb" ng-repeat="model in panelCtrl.models">
                        <div style="float: left; padding-right: 10px" ng-show="model.modelImage">
                            <img class="img-responsive" ng-src="data:image/jpeg;base64,{{model.modelImage}}" alt="{{model.description}}" height="50" width="50">
                        </div>
                        <div style="padding-top: 10px; padding-left: 8px; padding-bottom: 10px;" class="breadcrumb-item">
                            <a href="/#/model/{{model.id}}"><b>{{model.modelName}}</b></a>
                        </div>
                        <div style="padding-top: 10px; padding-bottom: 10px;" class="breadcrumb-item">
                            <button type="button" class="btn btn-primary btn-sm"
                                    data-toggle="modal" data-target="#editModelModal"
                                    ng-click="panelCtrl.setEditedModel(model)">
                                Edit description
                            </button>
                        </div>
                        <div style="padding-top: 10px; padding-bottom: 10px;" class="breadcrumb-item">
                            <button type="button" class="btn btn-primary btn-sm"
                                    data-toggle="modal" data-target="#modelDeleteModal"
                                    ng-click="panelCtrl.setCurrentModel(model)">
                                Delete
                            </button>
                        </div>
                    </div>
                    <hr>
                </div>

                <div class="col-md-6">
                    <hr>
                    <h3>My exhibitions (<a ui-sref="exhibs">create</a>)</h3>
                    <hr>
                    <div class="breadcrumb" ng-repeat="exhib in panelCtrl.exhibs">
                        <div class="breadcrumb-item">
                            <a href="/#/exhib/{{exhib.id}}"><b>{{exhib.name}}</b></a>
                        </div>
                        <div class="breadcrumb-item">
                            <button type="button" class="btn btn-primary btn-sm"
                                    data-toggle="modal" data-target="#editExhibModal"
                                    ng-click="panelCtrl.setEditedExhib(exhib)">
                                Edit description
                            </button>
                        </div>
                        <div class="breadcrumb-item">
                            <a class="btn btn-primary btn-sm" href="/#/exhibEdit/{{exhib.id}}">Edit</a>
                        </div>
                        <div class="breadcrumb-item">
                            <button type="button" class="btn btn-primary btn-sm"
                                    data-toggle="modal" data-target="#exhibDeleteModal"
                                    ng-click="panelCtrl.setCurrentExhib(exhib)">
                                Delete
                            </button>
                        </div>
                    </div>
                    <!--button ng-click="panelService.open()">Delete</button-->
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- model edit -->
<div class="modal fade" id="editModelModal" tabindex="-1" role="dialog" aria-labelledby="editModelModal"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit model</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" name="modelChangeForm" enctype="multipart/form-data">
                <div class="modal-body">
                    <img class="img-thumbnail img-responsive" ng-src="data:image/jpeg;base64,{{panelCtrl.editedModel.modelImage}}" alt="{{editedModel.description}}">
                    <div class="form-group">
                        <label class="control-label" for="changeModelName">Model name</label>
                        <input type="text" class="form-control" id="changeModelName" name="changeModelName" placeholder="Model name..."
                               ng-model="panelCtrl.editedModel.modelName" ng-minlength=3 ng-maxlength=50 required>
                        <div ng-show="modelChangeForm.changeModelName.$dirty && modelChangeForm.changeModelName.$invalid">
                            <p class="help-block"
                               ng-show="modelChangeForm.changeModelName.$error.required">
                                Model name is required.
                            </p>
                            <p class="help-block"
                               ng-show="modelChangeForm.changeModelName.$error.minlength">
                                Model name is required to be at least 3 character.
                            </p>
                            <p class="help-block"
                               ng-show="modelChangeForm.changeModelName.$error.maxlength">
                                Model name cannot be longer than 50 characters.
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="changeModelCategory">Category type: </label>
                        <select class="form-control" id="changeModelCategory" name="changeModelCategory"
                                ng-options="catM.categoryId as catM.name for catM in panelCtrl.modelCategories"
                                ng-model="panelCtrl.editedModel.category.categoryId">
                            <option value="">-- No category --</option>
                            <!--option ng-repeat="catM in panelCtrl.modelCategories" value="{{catM.categoryId}}">{{catM.name}}</option-->
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="picFile">Picture</label>
                        <div class="card-footer text-muted">
                            Preferred size of image: 700x400px, maximum size is 15MB
                        </div>
                        <input type="file" ngf-validate="{size: {max: '15MB'}}" ngf-resize="{width: 700, height: 400, centerCrop: true}" id="picFile" ngf-select="" ng-model="panelCtrl.picFile" name="picFile" ngf-accept="'image/*'">
                        <img ngf-src="panelCtrl.picFile" class="img-thumbnail">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="changeModelDescription">Description</label>
                        <textarea rows="10" cols="51" ng-model="panelCtrl.editedModel.modelDescription" id="changeModelDescription" name="changeDescription" maxlength=250></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="panelCtrl.nullEdit()">Cancel</button>
                    <button type="button" ng-disabled="modelChangeForm.$invalid" class="btn btn-primary" data-dismiss="modal" ng-click="panelCtrl.updateModel()">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- model delete Modal -->
<div class="modal fade" id="modelDeleteModal" tabindex="-1" role="dialog" aria-labelledby="modelDeleteModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modelDeleteModalLabel">Delete model</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure want to delete model {{panelCtrl.currentModel.modelName}}?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="panelCtrl.modelDeleteModel()">
                    Accept
                </button>
            </div>
        </div>
    </div>
</div>

<!-- exhib edit -->
<div class="modal fade" id="editExhibModal" tabindex="-1" role="dialog" aria-labelledby="editExhibModal"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit model</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" name="exhibChangeForm" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label" for="changeModelName">Model name</label>
                        <input type="text" class="form-control" id="changeExhibName" name="changeExhibName" placeholder="Model name..."
                               ng-model="panelCtrl.editedExhib.name" ng-minlength=3 ng-maxlength=50 required>
                        <div ng-show="exhibChangeForm.changeExhibName.$dirty && exhibChangeForm.changeExhibName.$invalid">
                            <p class="help-block"
                               ng-show="exhibChangeForm.changeExhibName.$error.required">
                                Exhibition name is required.
                            </p>
                            <p class="help-block"
                               ng-show="exhibChangeForm.changeExhibName.$error.minlength">
                                Exhibition name is required to be at least 3 character.
                            </p>
                            <p class="help-block"
                               ng-show="exhibChangeForm.changeExhibName.$error.maxlength">
                                Exhibition name cannot be longer than 50 characters.
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="changeExhibCategory">Category: </label>
                        <select class="form-control" id="changeExhibCategory" name="changeExhibCategory"
                                ng-options="catE.categoryId as catE.name for catE in panelCtrl.exhibCategories"
                                ng-model="panelCtrl.editedExhib.category.categoryId">
                            <option value="">-- No category --</option>
                            <!--option ng-repeat="catE in panelCtrl.exhibCategories" value="{{catE.categoryId}}">{{catE.name}}</option-->
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="changeExhibDescription">Description</label>
                        <textarea rows="10" cols="51" ng-model="panelCtrl.editedExhib.description" id="changeExhibDescription" name="changeExhibDescription" maxlength=200></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="panelCtrl.nullEdit()">Cancel</button>
                    <button type="button" ng-disabled="exhibChangeForm.$invalid" class="btn btn-primary" data-dismiss="modal" ng-click="panelCtrl.updateExhib()" >Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- exhib delete Modal -->
<div class="modal fade" id="exhibDeleteModal" tabindex="-1" role="dialog" aria-labelledby="exhibDeleteModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exhibDeleteModalLabel">Delete exhibition</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure want to delete exhibition {{panelCtrl.currentExhib.name}}?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="panelCtrl.deleteExhib()">
                    Accept
                </button>
            </div>
        </div>
    </div>
</div>
