<div class="container">

    <h1 class="mt-4 mb-3">User panel</h1>
    <!-- Page Heading/Breadcrumbs -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a ui-sref="home">Home</a>
        </li>
        <li class="breadcrumb-item active">User panel</li>
    </ol>

    <div class="card">

        <div class="card-block">
            <h2 class="card-title">My group</h2>
            <p class="card-text">
                <div ng-show="panelCtrl.account.groupId > 0">
                    <a href="#/group/{{panelCtrl.account.groupId}}">Visit group</a>
                </div>
                <div ng-show="panelCtrl.account.groupId == 0">
                    You don't have any group. <a href="#/createGroup">Create group</a>
                </div>

            </p>
        </div>
        <div class="card-footer text-muted">

        </div>
    </div>

    <!-- Blog Post -->
    <div class="card mb-4">
        <div class="card-block">
            <div class="row">
                <div class="col-md-6">
                    <hr>
                    <h3><a ui-sref="userModels">My models</a> ({{panelCtrl.models.length}}) (<a ui-sref="upload">upload</a>)</h3>
                    <div class="breadcrumb" ng-repeat="model in panelCtrl.models">
                        <div class="breadcrumb-item">
                            <a href="/#/model/{{model.id}}"><b>{{model.modelName}}</b></a>
                        </div>
                        <div class="breadcrumb-item">
                            <a>Rename</a>
                        </div>
                        <div class="breadcrumb-item">
                            <button type="button" class="btn btn-primary btn-sm"
                                    data-toggle="modal" data-target="#deleteModal"
                                    ng-click="panelCtrl.setCurrentModel(model)">
                                Delete
                            </button>
                        </div>
                    </div>
                    <hr>
                </div>

                <div class="col-md-6">
                    <hr>
                    <h3>My exhibitions (<a ui-sref="exhibs">create</a>)</h3>

                    <div class="breadcrumb" ng-repeat="exhib in panelCtrl.exhibs">
                        <div class="breadcrumb-item">
                            <a href="/#/exhib/{{exhib.id}}"><b>{{exhib.name}}</b></a>
                        </div>
                        <div class="breadcrumb-item">
                            <a>Rename</a>
                        </div>
                        <div class="breadcrumb-item">
                            <a href="/#/exhibEdit/{{exhib.id}}">Edit</a>
                        </div>
                        <div class="breadcrumb-item">
                            <a ng-click="panelService.open()">Delete</a>
                        </div>
                    </div>
                    <!--button ng-click="panelService.open()">Delete</button-->
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete model</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure want to delete model {{panelCtrl.currentModel.modelName}}?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="panelCtrl.deleteModel()">
                    Accept
                </button>
            </div>
        </div>
    </div>
</div>
