<nav class="navbar fixed-top navbar-toggleable-md navbar-inverse bg-inverse myNavbar">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarExample" aria-controls="navbarExample" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container">
        <a class="navbar-brand" ui-sref="home">proShape</a>
        <form class="navbar-form" role="search">
            <div class="input-group">
                <input type="search" class="form-control mySearch" placeholder="Search" name="q">
                <div class="input-group-btn">
                    <button class="btn btn-default searchButton" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                </div>
            </div>
        </form>

        <div class="collapse navbar-collapse" id="navbarExample" ng-switch="vm.isAuthenticated()" ng-class="{active: vm.$state.includes('account')}">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">

                </li>
                <li class="nav-item">
                    <a class="nav-link" ui-sref="home">Home</a>
                </li>

                <li class="nav-item" ui-sref-active="active" ng-switch-when="true">
                    <a class="nav-link" ui-sref="panel">Panel</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" ui-sref="rank">Rank</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Categories
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" ui-sref="cat_obj">Models</a>
                        <a class="dropdown-item" ui-sref="cat_exhib">Exhibitions</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" ui-sref="groups">Groups</a>
                </li>

                <li class="nav-item" ui-sref-active="active" ng-switch-when="false">
                    <a class="nav-link" ui-sref="login" id="login">Sign In</a>
                </li>

                <li class="nav-item" ui-sref-active="active" ng-switch-when="true">
                    <a class="nav-link" ui-sref="upload">Upload</a>
                </li>

                <li class="nav-item dropdown" ng-switch-when="true" has-authority="ROLE_ADMIN">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownAdmin" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Admin
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownAdmin">
                        <a class="dropdown-item" ui-sref="admin">Panel</a>
                        <a class="dropdown-item" ui-sref="user-management">User management</a>
                        <a class="dropdown-item" ui-sref="category-management">Category management</a>
                        <a class="dropdown-item" ui-sref="logs">Logs</a>
                    </div>
                </li>

                <li class="nav-item dropdown" ng-switch-when="true">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownAccout" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Account
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownAccout">
                        <a class="dropdown-item" ui-sref="settings">Settings</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="" ng-click="vm.logout()" id="logout">Logout</a>
                    </div>
                </li>

                <!--
                <li class="nav-item" ui-sref-active="active" ng-switch-when="true">
                    <a class="nav-link" href="" ng-click="vm.logout()" id="logout">Logout</a>
                </li>
                -->

                <li class="nav-item" ui-sref-active="active" ng-switch-when="false">
                    <a class="nav-link" ui-sref="register" ng-click="" id="register">Register</a>
                </li>

            </ul>
        </div>
    </div>
</nav>
