<div class="container">

    <h1 class="mt-4 mb-3">My exhibitions</h1>
    <!-- Page Heading/Breadcrumbs -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a ui-sref="home">Home</a>
        </li>

        <li class="breadcrumb-item">
            <a ui-sref="panel">User panel</a>
        </li>

        <li class="breadcrumb-item active">My exhibitions</li>
    </ol>

    <!-- Blog Post -->
    <div class="card mb-4">
        <div class="card-block" ng-show="exhibsCtrl.success">
            <div class="row">
                <div class="col-md-6" style="float: none; margin: 0 auto;">
                    <div class="alert alert-success">
                        <strong class="text-center">Creation successful! Click <a href="#/panel">here</a> to edit and setup a category!</strong>
                    </div>
                </div>
            </div>
        </div>

        <div ng-show="!vm.success" class="card-block">
            <div class="row">
                <div class="col-lg-6">
                    <form ng-show="!exhibsCtrl.success" name="form" role="form" novalidate show-validation>

                        <div class="form-group">
                            <label class="control-label" for="name">Exhibition name</label>
                            <input type="text" class="form-control" id="name" name="name" placeholder="Exhibition name..."
                                   ng-model="exhibsCtrl.exhib.name" ng-minlength=3 ng-maxlength=50 required>
                            <div ng-show="form.name.$dirty && form.name.$invalid">
                                <p class="help-block"
                                   ng-show="form.name.$error.required">
                                    Your exhibition name is required.
                                </p>
                                <p class="help-block"
                                   ng-show="form.name.$error.minlength">
                                    Your exhibition name is required to be at least 3 character.
                                </p>
                                <p class="help-block"
                                   ng-show="form.name.$error.maxlength">
                                    Your exhibition name cannot be longer than 50 characters.
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="description">Description</label>
                            <textarea rows="10" cols="100" ng-model="exhibsCtrl.exhib.description" id="description" name="description" maxlength=200></textarea>
                        </div>

                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary" ng-click="exhibsCtrl.createExhibUser()">Create</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
