<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Groups</h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a ui-sref="home">Home</a>
        </li>
        <li class="breadcrumb-item active">Groups</li>
    </ol>

    <div ng-if="groups.length == 0">
        <div class="alert alert-info">Currently there are no groups.</div>
    </div>

    <div class="row">
        <div class="col-lg-4 col-sm-6 portfolio-item" ng-repeat="group in filteredGroups">
            <div class="card h-100">
                <div class="card-block">
                    <h4 class="card-title"><a href="#/group/{{group.id}}">{{group.groupName}}</a></h4>
                    <p class="card-text">{{group.groupDescription}}</p>
                </div>
            </div>
        </div>

    </div>

    <!-- Pagination -->
    <ul class="pagination justify-content-center">
        <li class="page-item" ng-class="{disabled: currentPage === 1}" ng-click="selectPage(currentPage - 1)">
            <button ng-class="{disabled: currentPage === 1}" class="page-link"  aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </button>
        </li>
        <li class="page-item" ng-class="{disabled: ($index+1) == currentPage}" ng-repeat="page in groups | pageCount:numPerPage"><button class="page-link" ng-click="selectPage($index + 1)">{{$index + 1}}</button></li>

        <li class="page-item" ng-class="{disabled: currentPage == lastPage()}"  ng-click="selectPage(currentPage + 1)">
            <button ng-class="{disabled: currentPage == lastPage()}"  class="page-link"  aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </button>
        </li>
    </ul>

</div>
