<div class="container">

    <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3">My models</h1>
        <a href="#/upload">Upload new model</a>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="index.html">Home</a>
        </li>
        <li class="breadcrumb-item active">My models</li>
    </ol>

    <div class="alert alert-info" ng-if="userModelsCtrl.userFiles.length === 0">
        You have no models. <a href="#/upload">Upload</a> some!
    </div>

    <div class="row">
        <div class="col-lg-4 col-sm-6 portfolio-item" ng-repeat="item in filteredModels">
            <div class="card h-100">
                <a href="#"><img class="card-img-top img-fluid" src="http://placehold.it/700x400" alt=""></a>
                <div class="card-block">
                    <h4 class="card-title"><a href="#/model/{{item.id}}">{{item.modelName}}</a></h4>
                    <p class="card-text">{{item.modelDescription}}</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Pagination -->

    <ul class="pagination justify-content-center">
        <li class="page-item" ng-class="{disabled: currentPage === 1}" ng-click="selectPage(currentPage - 1)">
            <button ng-class="{disabled: currentPage === 1}" class="page-link"  aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </button>
        </li>
        <li class="page-item" ng-class="{disabled: ($index+1) == currentPage}" ng-repeat="page in models | pageCount:numPerPage"><button class="page-link" ng-click="selectPage($index + 1)">{{$index + 1}}</button></li>

        <li class="page-item" ng-class="{disabled: currentPage == lastPage()}"  ng-click="selectPage(currentPage + 1)">
            <button ng-class="{disabled: currentPage == lastPage()}"  class="page-link"  aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </button>
        </li>
    </ul>


</div>
<!-- /.container -->
