<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="index.html">Home</a>
        </li>
        <li class="breadcrumb-item active">Upload</li>
    </ol>

    <!-- Blog Post -->
    <div class="card mb-4" ng-hide="vm.isLogged()">
        <div class="card-footer text-muted">
            <div class="alert alert-danger" ng-show="errorMsg">
                <strong>{{errorMsg}}</strong>
            </div>

            <div class="alert alert-success" ng-show="uploadCtrl.response == '1'">
                <strong>Object saved.</strong>
            </div>
        </div>
        <div class="card-block">
            <h2>Upload</h2>
            <form method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="fileGroupName">File name</label>
                    <input type="text" id="fileGroupName" ng-model="uploadCtrl.fileGroupName">
                </div>
                <div class="form-group" ng-show="uploadCtrl.fileGroupName.length > 3">
                    <label for="description">Description</label>
                    <textarea class="form-control" id="description" data-ng-model="uploadCtrl.description"></textarea>
                    <label for="uploader">Choose files (supported extensions: .obj, .mtl, .jpg, .png, supported <strong>one texture</strong> models)</label>
                    <p>
                        <input accept=".obj,.mtl,.jpg,.jpeg,.png" multiple type="file" ngf-select="uploadFiles($files)" id="uploader"/>

                    </p>
                </div>
            </form>
            <div class="card-block" ng-show="files.length > 0">
                <h2>Files</h2>
                <ul>
                    <li ng-repeat="f in files">
                        {{f.name}}
                    </li>
                </ul>
            </div>

            <p></p>
            <div class="card-footer text-muted">
                <div class="alert alert-info" ng-show="progress >= 0">
                   <span class="progress" ng-show="progress >= 0">
                        <div style="width:{{progress}}%" ng-bind="progress + '%'"></div>
                   </span>
                </div>
            </div>

        </div>
    </div>
</div>
