<div class="container">

    <h1 class="mt-4 mb-3">Upload</h1>
    <!-- Page Heading/Breadcrumbs -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a ui-sref="home">Home</a>
        </li>
        <li class="breadcrumb-item active">Upload</li>
    </ol>

    <!-- Blog Post -->
    <div class="card mb-4" ng-hide="vm.isLogged()">
        <div class="card-footer text-muted" ng-show="errorMsg">
            <div class="alert alert-danger">
                <strong>{{errorMsg}}</strong>
            </div>
        </div>
        <div class="card-footer text-muted" ng-show="uploadCtrl.response == '1'">
            <div class="alert alert-success">
                <strong>Object saved.</strong>
            </div>
        </div>
        <div class="card-footer text-muted" ng-show="wrongFormat == true">
            <div class="alert alert-danger">
                <strong>Inappropriate extensions of selected files!</strong>
            </div>
            <div class="alert alert-danger" ng-show="uploadCtrl.existsError == 1">
                <strong>You've already uploaded that file(s)!</strong>
            </div>
        </div>
        <div class="card-block">
            <form method="post" enctype="multipart/form-data">
                <div class="form-group col-md-6">
                    <label class="control-label" for="fileGroupName">File name</label>
                    <input type="text" class="form-control" id="fileGroupName" ng-model="uploadCtrl.fileGroupName" ng-minlength=3 ng-maxlength=50 required>
                </div>
                <div ng-show="uploadCtrl.fileGroupName.length > 3">
                    <div class="form-group">
                        <label class="control-label" for="description">Description</label>
                        <textarea maxlength="255" class="form-control" id="description" data-ng-model="uploadCtrl.description"></textarea>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="uploader">Choose files (supported extensions: .obj, .mtl, .jpg, .png)</label>

                        <br><strong>Viewer only supports 3-file models: .obj + .mtl + 1 texture</strong>
                        <p>
                            <input ngf-pattern="'.png,.jpg,.mtl,.obj,.jpeg'" accept=".obj,.mtl,.jpg,.jpeg,.png" multiple type="file" ngf-min-files="2"  ngf-max-files="3" ngf-select="uploadFiles($files)" id="uploader"/>
                        </p>
                    </div>
                </div>
            </form>
            <div class="card-block" ng-show="files.length > 0">
                <h2>Files</h2>
                <strong class="text-success">Wait for green alert on the top of the page.</strong>
                <br/>
                <ul>
                    <li ng-repeat="f in files">
                        {{f.name}}
                    </li>
                </ul>
            </div>

            <p></p>
            <div class="breadcrumb" ng-show="progress >= 0">
                <div class="alert alert-info" >

                   <span class="progress" ng-show="progress >= 0">
                        <div style="width:{{progress}}%" ng-bind="progress + '%'"></div>
                   </span>
                </div>
            </div>

        </div>
    </div>
</div>
