<div class="container">

    <h1 class="mt-4 mb-3">Category: {{catCtrl.category.name}}</h1>
    <!-- Page Heading/Breadcrumbs -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a ui-sref="home">Home</a>
        </li>

        <li class="breadcrumb-item">
            <a ui-sref="home">Categories: {{catCtrl.category.type}}</a>
        </li>

        <li class="breadcrumb-item active">Category: {{catCtrl.category.name}}</li>
    </ol>

    <!-- Blog Post -->
    <div class="alert alert-info" ng-if="catCtrl.models.length === 0 && catCtrl.exhibs.length === 0">
        That category is empty.
    </div>
    <div class="row">
        <div class="col-lg-4 col-sm-6 portfolio-item" ng-repeat="model in catCtrl.models">
            <div class="card h-100">
                <a href="#/model/{{model.id}}"><img ng-show="!model.modelImage" class="card-img-top img-fluid"
                                                    src="http://placehold.it/700x400" alt="">
                    <img ng-show="model.modelImage" class="card-img-top img-fluid"
                         ng-src="data:image/jpeg;base64,{{model.modelImage}}" alt=""></a>
                <div class="card-block">
                    <h4 class="card-title"><a href="#/model/{{model.id}}">{{model.modelName}}</a> by
                        {{catCtrl.sliceIfTooLongText(model.user.login)}}</h4>
                    <p class="card-text">{{model.modelDescription}}</p>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-sm-6 portfolio-item" ng-repeat="exhib in catCtrl.exhibs">
            <div class="card h-100">
                <div class="card-block">
                    <h4 class="card-title"><a href="#/exhib/{{exhib.id}}">{{exhib.name}}</a> by {{catCtrl.sliceIfTooLongText(exhib.user.login)}}
                    </h4>
                    <p class="card-text">{{exhib.description}}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center">
        <jhi-item-count page="catCtrl.page" total="catCtrl.queryCount" items-per-page="catCtrl.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="catCtrl.totalItems" ng-model="catCtrl.page" ng-change="catCtrl.transition()"></uib-pagination>
    </div>
</div>

